body {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/138/112/original/empty-wooden-dock-lake-breathtaking-sunset-cool-background.jpg?1723151226");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}
.parent {
  position: relative;
  height: 100vh;
  padding: 0;
}
.grid-container {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 100vh;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-rows: 2fr 1fr;
  grid-template-columns: 1fr;
}
p {
  color: white;
  font-size: 1.6rem;
  margin-top: -1vw;
  padding-bottom: 1vw;
  text-align: center;
}
.item1 {
  color: #ffffff;
  border-radius: 10px 10px 0 0;
  font-size: 2rem;
  background: linear-gradient(
    109.6deg,
    rgba(255, 37, 174, 0.3) 11.2%,
    rgba(250, 237, 56, 0.3) 91.1%
  );
  padding: 3vw;
}

.item2 {
  padding: 2vw;
  border-radius: 0 0 10px 10px;
  background-color: #ffffff;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 0.5vw;
  background-color: rgba(247, 139, 83, 0.8);
  color: #ffffff;
  font-size: 1.2rem;
}
form {
  text-align: center;
  padding: 2vw;
}
input {
  color: #ffffff;
  padding: 1vw;
  border: solid 1px #743d3d;
  border-radius: 10px;
  background-color: rgba(247, 139, 83, 0.8);
  margin: 0.1vw;
}
a {
  color: yellow;
}
